# SystemD Service for BACIS
# location: /etc/systemd/system/
# file: /etc/systemd/system/bacis.service
# update systemd: sudo systemctl daemon-reload
# restart: sudo systemctl restart bacis
# status: sudo systemctl status bacis
# start-on-boot: sudo systemctl enable bacis

[Unit]
Description=BACIS

# Requires the mongod service to run first
# Requires=After=mongod.service

[Service]
ExecStart=/usr/bin/node /home/ubuntu/bacis/index.js

# Restart service after 10 seconds if node service crashes
Restart=always
RestartSec=10

# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-bacis

# Environmental variables
Environment=NODE_ENV=live PORT=9196

[Install]
WantedBy=multi-user.target